.header__wrapper {
  min-width: 875px;
  margin: auto;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__nav-wrapper {
  border-bottom: 1px solid $nav-decoration;
  padding: 34px 20px 10px;

  & a {
    @include fonts(300, 16px, $basic-white);
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .header__nav-item {
    & a {
      padding: 10px;
    }

    &:first-child a {
      padding-left: 0;
    }

    &:last-child a {
      padding-right: 0;
    }
  }
}

.header__nav-logo {
  position: absolute;
  top: 330px;
}

.header__nav-button-wrapper {
  display: none;
}

.header__nav-button-opened {
  display: none;
  cursor: pointer;
}

.header__nav-button {
  border: 0;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  background: $button-color;
  cursor: pointer;

  &:hover {
    background: $hover-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.header__nav--opened {
  .header__nav-wrapper {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background: $basic-white;
    padding: 0;
  }

  .header__nav-button-opened {
    display: block;
    position: absolute;
    background: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    z-index: 12;
    opacity: 0.7;

    &::before {
      content: "";
      position: absolute;
      left: 8px;
      width: 34px;
      height: 1px;
      background: $half-black;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      left: 8px;
      width: 34px;
      height: 1px;
      background: $half-black;
      transform: rotate(-45deg);
    }

    &:active {
      opacity: 0.9;
    }

    &:hover {
      &::before {
        background: $basic-black;
        outline: 1px solid $basic-black;
      }

      &::after {
        background: $basic-black;
        outline: 1px solid $basic-black;
      }
    }
  }

  .header__nav-list {
    height: 50vh;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
  }

  .header__nav-item {
    height: 60px;
    display: flex;
    margin-left: 200px;
    background: $menu-background;
    position: relative;

    a {
      @include fonts(400, 20px, $half-black);
      width: 100%;
      padding-top: 16px;
      padding-left: 40px;
      opacity: 1;

      &:hover {
        box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
        color: $button-color;
      }

      &:active {
        opacity: 0.6;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      background: transparent;
      border-right: 2px solid $half-black;
      border-bottom: 2px solid $half-black;
      transform: rotate(-45deg);
      right: 46px;
      top: 24px;
      opacity: 0.5;
    }
  }
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    min-width: 100%;
    z-index: 10;
  }

  .header__nav--opened {
    .header__nav-wrapper {
      height: 100vh;
    }

    .header__nav-list {
      flex-wrap: nowrap;
      position: fixed;
      right: 0;
      height: 80vh;
      overflow: auto;
      justify-content: start;

      .header__nav-item {
        margin-bottom: 20px;

        & a {
          min-width: 400px;
        }

        &:first-child a {
          padding-left: 40px;
        }

        &:last-child a {
          padding-right: 0;
        }
      }
    }
  }

  .header__nav-logo {
    position: relative;
    top: 0;
    padding-top: 26px;
    padding-left: 22px;
  }

  .header__nav-button-wrapper {
    display: block;
  }

  .header__nav-wrapper {
    display: none;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
  }

  .header__nav--nojs {
    margin-bottom: 54px;

    .header__nav-wrapper {
      display: block;
      position: relative;
      right: 0;
      top: 0;
      width: 80%;
      height: 280px;
      background: $basic-white;
      padding: 0;
    }

    .header__nav-list {
      flex-direction: column;
    }

    .header__nav-button {
      display: none;
    }

    .header__nav-item {
      height: 60px;
      display: flex;
      margin-left: 200px;
      background: $menu-background;
      position: relative;
      margin-bottom: 10px;

      a {
        @include fonts(400, 20px, $half-black);
        width: 100%;
        padding-top: 16px;
        padding-left: 40px;
        opacity: 1;

        &:hover {
          box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
          color: $button-color;
        }

        &:active {
          opacity: 0.6;
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background: transparent;
        border-right: 2px solid $half-black;
        border-bottom: 2px solid $half-black;
        transform: rotate(-45deg);
        right: 46px;
        top: 24px;
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .header__nav--opened {
    .header__nav-list .header__nav-item {
      margin-left: 0;

      &::before {
        right: 20px;
      }

      & a {
        min-width: 290px;
      }
    }
  }

  .header__nav-logo {
    padding-left: 17px;
    padding-top: 24px;
  }

  .header__nav--nojs {
    flex-direction: column-reverse;
    margin-bottom: -30px;

    .header__nav-wrapper {
      width: 100%;
    }

    .header__nav-item {
      margin-left: 0;

      & a {
        padding-left: 16px;
      }

      &::before {
        right: 16px;
      }
    }
  }
}
